<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/application.css" />
    <script type="text/javascript" src="javascript/angular.min.js"></script>
    <script type="text/javascript" src="javascript/app.js"></script>
    <script type="text/javascript" src="javascript/directives/products.js"></script>
  </head>

  <body ng-controller="StoreController as store">
    <!--  Store Header  -->
    <header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center">– an Angular store –</h2>
    </header>

    <!--  Products Container  -->
    <div class="list-group">
      <!--  Product Container  -->
      <div class="list-group-item" ng-repeat="product in store.products">
        <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

        <!-- Image Gallery  -->

          <!-- USING CUSTOM DIRECTIVE WITH CONTROLLER FUNCTIONALITY -->

        <product-gallery></product-gallery>

        <!-- <div ng-controller="GalleryController as gallery"  ng-show="product.images.length">
          <div class="img-wrap">
            <img ng-src="{{product.images[gallery.current]}}" />
          </div>
          <ul class="img-thumbnails clearfix">
            <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
              <img ng-src="{{image}}" />
            </li>
          </ul>
        </div> -->

          <!-- ^^  ^^  CALLING A CONTROLLER AS AN HTML ATTRIBUTE WHICH USES CONTROLLER IN APP.JS -->

        <!-- Product Tabs  -->

          <!-- THIS IS A CUSTOM DIRECTIVE  -->
        <product-tabs></product-tabs>

        <!-- ^^ ^^ TAB CONTROLLER ALIAS SET AS TAB IN APP.JS -->

      </div>
    </div>
  </body>
</html>
